.img {
  background: url('../../../resources/img/img-2.png') 0 0 no-repeat;
  width:114px;
  height:110px;
}
.img1 {
  background: url('../../../resources/img/wecode.1.png') 0 0 no-repeat;
  width:114px;
  height:110px;
}
.img2 {
  background: url('../../../resources/img/wecode.2.png') 0 0 no-repeat;
  width:114px;
  height:110px;
}
.img3 {
  background: url('../../../resources/img/wecode.3.png') 0 0 no-repeat;
  width:114px;
  height:110px;
}
.img4 {
  background: url('../../../resources/img/wecode.4.png') 0 0 no-repeat;
  width:114px;
  height:110px;
}
.img5 {
  background: url('../../../resources/img/wecode.5.png') 0 0 no-repeat;
  width:114px;
  height:110px;
}
.img6 {
  background: url('../../../resources/img/wecode.6.png') 0 0 no-repeat;
  width:114px;
  height:110px;
}
.img7 {
  background: url('../../../resources/img/wecode.7.png') 0 0 no-repeat;
  width:114px;
  height:110px;
}
.img8 {
  background: url('../../../resources/img/wecode.8.png') 0 0 no-repeat;
  width:114px;
  height:110px;
}
.img9 {
  background: url('../../../resources/img/wecode.9.png') 0 0 no-repeat;
  width:114px;
  height:110px;
}
.img10 {
  background: url('../../../resources/img/wecode.10.png') 0 0 no-repeat;
  width:114px;
  height:110px;
}
