@import '@/common/rem.scss';

.img {
  background: url('../../assets/img/img-2.png') 0 0 no-repeat;
  width: pxtorem(114);
  height: 110px;
  display: flex;
}

.img1 {
  background: url('../../assets/img/wecode.1.png') 0 0 no-repeat;
  width: 114px;
  height: 110px;
}

.img2 {
  background: url('../../assets/img/wecode.2.png') 0 0 no-repeat;
  width: 114px;
  height: 110px;
}

.img3 {
  background: url('../../assets/img/wecode.3.png') 0 0 no-repeat;
  width: 114px;
  height: 110px;
}

.img4 {
  background: url('../../assets/img/wecode.4.png') 0 0 no-repeat;
  width: 114px;
  height: 110px;
}

.img5 {
  background: url('../../assets/img/wecode.5.png') 0 0 no-repeat;
  width: 114px;
  height: 110px;
}

.img6 {
  background: url('../../assets/img/wecode.6.png') 0 0 no-repeat;
  width: 114px;
  height: 110px;
}

.img7 {
  background: url('../../assets/img/wecode.7.png') 0 0 no-repeat;
  width: 114px;
  height: 110px;
}

.img8 {
  background: url('../../assets/img/wecode.8.png') 0 0 no-repeat;
  width: 114px;
  height: 110px;
}

.img9 {
  background: url('../../assets/img/wecode.9.png') 0 0 no-repeat;
  width: 114px;
  height: 110px;
}

.img10 {
  background: url('../../assets/img/wecode.10.png') 0 0 no-repeat;
  width: 114px;
  height: 110px;
}
