.img {
  background: url('../../../resources/img/img-2.png') 0 0 no-repeat;
  width:114px;
  height:110px;
}
.img1 {
  background: url('../../../resources/img/wecode.png') 0 0 no-repeat;
  width:114px;
  height:110px;
}